/* Write your CSS code here */
.blogListMainContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogListItem-inner-container {
  list-style-type: none;
  height: auto;
  display: flex;
  flex-direction: column;
}
